.logo {
  width: 20% !important;
}

.p_r_l {
  padding: 0px 15px !important;
}

.black_bg {
  background: black !important;
  color: white !important;
}

.left {
  display: flex;
  justify-content: start !important;
}
.center {
  display: flex;
  justify-content: center;
}
.right {
  display: flex;
  justify-content: end;
}

.v_card_img {
  width: 85% !important;
}

.none {
  padding: 0px !important;
  margin: 0px !important;
}

.m_left {
  margin-left: 30 px !important;
}

.text_c{
  text-align: center !important;
}

.overlay-text {
  position: absolute;
  top: 0% !important;
  left: 20% !important;
  z-index: 2 !important;
  color: #000000 !important;
}

.home_gif{
  width: 100% !important;
  height: 400px !important;
}

.jcb_gif{
  width: 10% !important;
  height: 100px !important;
  top: -100px !important;
  position: relative !important;
  left: 50% !important;
  animation: moveRight 5s linear infinite !important;
}

.h-0{
  height: 0px !important;
}

@keyframes moveRight {
  0% {
    left: -100px; /* Start off-screen */
  }
  100% {
    left: 100%; /* End off-screen on the right */
  }
}